#Eclipse core
.settings/
.project
.DS_Store
wshub.iml

#IntelliJ IDEA
.idea

#EAR
wshubear/.settings/
wshubear/target/
wshubear/bin/
wshubear/.project
wshubear/.DS_Store
wshubear/wshubear.iml

#EJB
wshubejb/.settings/
wshubejb/target/
wshubejb/bin/
wshubejb/.classpath
wshubejb/.project
wshubejb/.DS_Store
wshubejb/wshubejb.iml

#INTERFACE
wshubinterface/.settings/
wshubinterface/target/
wshubinterface/bin/
wshubinterface/.classpath
wshubinterface/.project
wshubinterface/.DS_Store
wshubinterface/wshubinterface.iml

#REST
wshubrest/.settings/
wshubrest/bin/
wshubrest/target/
wshubrest/.classpath
wshubrest/.project
wshubrest/.tern-project
wshubrest/.DS_Store
wshubrest/wshubrest.iml

