#Eclipse core
.settings/
.project
.DS_Store

#IntelliJ IDEA
.idea
*.iml

#EAR
wshubear/.settings/
wshubear/target/
wshubear/bin/
wshubear/.project
wshubear/.DS_Store
wshubear/wshubear.iml

#EJB
wshubejb/.settings/
wshubejb/target/
wshubejb/bin/
wshubejb/.classpath
wshubejb/.project
wshubejb/.DS_Store
wshubejb/wshubejb.iml

#REST
wshubrest/.settings/
wshubrest/bin/
wshubrest/target/
wshubrest/.classpath
wshubrest/.project
wshubrest/.tern-project
wshubrest/.DS_Store
wshubrest/wshubrest.iml

